// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #000;

@mixin console-font {
  color: #111;
  font-size: 11px;
  font-family: 'Consolas';
}

.app__outer {
  display: flex;
}

.app {
  margin: 10px auto;
}

.window {
  width: 1000px;
  height: 400px;
  padding: 20px 5px !important;
  overflow: scroll;
}

.window--inner {
  background-color: #5bc0de !important;
  padding: 10px !important;
  margin: 10px !important;
}

.input {
  width: 910px;
  margin-top: 20px;
}

.ready-btn {
  width: 90px;
}
